* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

hr{
    width: 40%;
    background: red;
    height: 3px;
    border-top: none ;
    opacity: 1 ;
}

#app>p, #blogIndex>p{
    text-align: center;
    margin: 5% 0%;
}

#app>div>h2, #blogIndex>div>h2{
    font-size: xxx-large;
    color: red ;
}

.margin1{
    margin-bottom: 5%;
}

.divFlex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list1>li{
    padding: 2%;
    flex: 0.15 0 20%;
    background: gainsboro;
    border-radius: 5px;
    box-shadow: darkgray 2px 2px 5px 0px;
}

.list2>li{
    background: lightgray;
    padding: 2%;
    display: flex;
    border-bottom: solid darkgrey;
    border-top: solid darkgray;
    border-width: 1px;
}

.par{
    background: #f3f3f3 !important;
}

.list1>li>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.list2>li>div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}